# Dépendances Node.js
node_modules/

# Fichiers d'environnement (Secrets)
.env
.env.*
# On peut garder le fichier d'exemple pour référence
!.env.example

# Logs et rapports de tests
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Fichiers système (OS)
.DS_Store
Thumbs.db